[submodule ".registry"]
	path = .registry
	url = https://github.com/alcocer-jj/alcocer-jj.r-universe.dev
	branch = HEAD
[submodule "rustgd"]
	path = rustgd
	url = https://github.com/alcocer-jj/rustgd
